# exclude observations below the thresholds from the output
[thresholds]
gauge=0.1
radar=0.1

# options related to handling of missing values
[missing_values]
# maximum number of missing time stamps in the radar accumulation period
max_missing_radar_timestamps=3

[other]
# additional attributes to include to the radar-gauge pairs
# the currently implemented attributes:
#   distance:  distance of the gauge to the nearest radar (km)
attributes=
