[grid]
# PROJ-compatible projection definition
projection: +proj=stere +lon_0=25E +lat_0=90N +lat_ts=60 +a=6371288 +x_0=380886.310 +y_0=3395677.920 +no_defs
# bounding box coordinates
ll_lon: 18.6
ll_lat: 57.93
ur_lon: 34.903
ur_lat: 69.005
# number of pixels in x- and y-direction
n_pixels_x: 760
n_pixels_y: 1226

[output]
# output type
#   geotiff = GeoTIFF file
#   numpy = compressed numpy array
type: geotiff