[radar]
# root path of the radar archive 
root_path=
# path format 
# may contain directory names separated by '/' and date/time specifiers 
# beginning with '%' (e.g. %Y/%m/%d)
path_fmt=
# the name pattern of the files without extension
# may contain time specifiers (e.g. %H, %M and %S)
fn_pattern=
# extension of the file names
fn_ext=
# time step between the files (minutes)
timestep=
# longitude of the lower-left corner of the bounding box
bbox_ll_lon=
# latitude of the lower-left corner of the bounding box
bbox_ll_lat=
# longitude of the upper-right corner of the bounding box
bbox_ur_lon=
# latitude of the upper-right corner of the bounding box
bbox_ur_lat=

[gauge]
# the rain gauge data to read from SmartMet
# PRA_PT1H_ACC = 1 h accumulation
gauge_type=PRA_PT1H_ACC
