[kriging]
# scaling factor for the temporal dimension: 'auto' or a scalar
# auto: heuristic value based on the standard deviations of spatial and temporal
#       coordinates
time_scaling_factor: auto